# Python env & cache
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
.env.*

# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# Build & runtime artifacts
build/
dist/
logs/
software/
SQL_results/
previous_scripts/

# Binaries & DBs
*.exe
*.db
*.db-shm
*.db-wal
